html{
	
}
body{
	height: 110%;
	margin:  auto;
	background-color: white;
}
main{
	background-color: white;

	width: 100%;
	
}
#panel{
	margin-top: 5px;
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity=50);
	color: white;
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
	
}

#panel ul li{
	display: inline-block;
	text-decoration: none;
	margin: 0 90px;
	vertical-align: middle;
}

#panel ul {
	margin-top: 4px;
}
.menuelement{
	text-decoration: none;
	color: white;
}
.menuelement1{
	margin-top: 1px;
	padding-bottom: 4px;
	text-decoration: none;
	color: white;
}
.menuelement1 a{
	text-decoration: none;
	color: white;
}
li a:hover{
	color: gray;
}
#mylogo{
	vertical-align: middle;
	height: 26px;
	width: 26px;
}
.dropdownmenu1{
	display: none;
	/*margin-top: 12px;*/
	list-style-type: none;
	padding-bottom: 20px;
	position: absolute;
	width: 110px;
	background-color: red;
}
.dropdownmenu2{
	display: none;
	/*margin-top: 12px;*/
	list-style-type: none;
	padding-bottom: 20px;
	position: absolute;
	/*margin-left: 13px;*/
	/*padding-top: 10px;*/
	/*top: 190px;*/
	width: 110px;
	background-color: blue;
}
.dropdownmenu1 a{
	color: white;
	position: relative;
	left: -117px;
	top: 5px;
}
.dropdownmenu1 li{
	width: 0px;
}
.dropdownmenu2 li{
	width: 0px;
}
.dropdownmenu1 a:hover{
	color: gray;

}
.menuelement1:hover .dropdownmenu1{
	display: block;
}
.pr6:hover .dropdownmenu2{
	display: block;
}


#mywatch{
	background-color: #303030;
	width: 220px;


}
#mywatch p{
	color: white;
	font-size: 26px;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 0;
	margin-bottom: 0;

}
footer{
	position: absolute;
	bottom: -11%;
	width: 100%;
	background-color: #151515;
	color: white;
	font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
}
